<!DOCTYPE html>
<html>
<head>
  <title>Scifinding</title>
  <%= stylesheet_link_tag    "scifinding/application", media: "all" %>
  <%= javascript_include_tag "scifinding/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
